$module: 		'form';

.#{$module} {
	display: block;
	margin: 0 0 em(20);

	&__items {
		> li {
			width: 50%;
			display: inline-block;
			vertical-align: bottom;
			margin-left: em(-4);
		}
	}

	&__control {
		margin-bottom: em(10);
		display: block;
	}

	&__label {
		display: inline-block;
		vertical-align: bottom;
		margin-bottom: em(4);
		width: em(80);
	}

	&__input {
		$fontSize: 14;
		border: 0;
		font-size: em($fontSize);
		padding: em(3,$fontSize) em(5,$fontSize);
		outline: 0;
		width: em(100);
		display: inline-block;
		vertical-align: bottom;
	}
}