$module: 		'header';


.#{$module} {
	width: 100%;
	z-index: 3;
	color: white;
	cursor: auto;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	padding: em(20) em(20) em(20) 0;
	overflow: hidden;

	.homeActive &, .articlesActive & {
		background-color: transparent;
	}

	@include bp(tab-l-b) {
		background-color: transparent;
		position: relative;
		padding-right: 0;
		padding-top: em(10);
	}

	&__innerwrapper {
		height: 100%;
		overflow-y: auto;
		overflow-x: hidden;
		margin-right: em(-36);
		padding-right: em(36);
	}

	&__nav-wrapper {
		.homeActive &, .articlesActive & {
			overflow: hidden;
		}

		@include bp(tab-xl) {
			height: calc(100vh - #{em(85)});
			overflow: auto;
		}
	}

	&__rs-logo {
		width: em(140);
		position: absolute;
		bottom: em(35);
		left: em(35);
		opacity: 1;
		transition: opacity 0.15s 0.15s linear;
		$bp: (800/16) * 1em;

		@media(max-height: $bp) {
			position: static;
			margin-left: em(35);
		}

		@include bp(tab-l-b) {
			margin: 0 auto;
			position: static;
			display: block;

			.articlesActive &, .homeActive & {
				opacity: 0;
			}
		}		
	}
}